

<h1>Directive Component</h1>

<!-- Structural start -->

<!-- <h2>Structural</h2> -->

<!-- <span>{{ names }}</span> -->
<!-- <span>{{ names }}</span>
<ul [hidden]="names.length === 0">
  <li *ngFor="let item of names;index as i">{{ i }} -> {{ item }}
    <button (click)="removeDetails(i)">Remove Details</button>
  </li> -->
  <!-- <li> -->
    <!-- {{ item }} -->
    <!-- Change propagation -->
    
    <!-- Change propagation -->
  <!-- </li> -->
<!-- </ul> -->

<!-- <span [hidden]="names.length > 0">No records found!</span> -->

<!-- Change propagation -->
<!-- <button (click)="addDetails()">Add details</button> -->
<!-- Change propagation -->

<!-- Structural end -->

<!-- Attribute start -->

<!-- <h2 [ngClass]="isBlue ? 'blue' : 'green'">Attribute</h2>
<button (click)="changeColor()">Change color</button> -->

<!-- Attribute end -->

<!-- Custom start -->
<!-- <h2 appAddBackground>Custom Directive</h2> -->
<!-- Custom end -->
